:root {
  --size-divisor: 3;
  @mixin atMedium {
    --size-divisor: 1.1;
  }
}

.marvel-device {
  display: inline-block;
  position: relative;
  box-sizing: content-box !important;
}
.marvel-device .screen {
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 3;
  background: white;
  overflow: hidden;
  display: block;
  border-radius: calc(1px / var(--size-divisor));
  box-shadow: 0 0 0 calc(3px / var(--size-divisor)) #111;
}
.marvel-device .top-bar,
.marvel-device .bottom-bar {
  height: calc(3px / var(--size-divisor));
  background: black;
  width: 100%;
  display: block;
}
.marvel-device .middle-bar {
  width: calc(3px / var(--size-divisor));
  height: calc(4px / var(--size-divisor));
  top: calc(0px / var(--size-divisor));
  left: calc(90px / var(--size-divisor));
  background: black;
  position: absolute;
}

.marvel-device.iphone-x {
  width: calc(375px / var(--size-divisor));
  height: calc(812px / var(--size-divisor));
  padding: calc(26px / var(--size-divisor));
  background: #fdfdfd;
  box-shadow: inset 0 0 calc(11px / var(--size-divisor)) 0 black,
    rgba(46, 46, 61, 0.24) 0 calc(24px / var(--size-divisor)) calc(64px / var(--size-divisor)) 0;
  border-radius: calc(66px / var(--size-divisor));
}
.marvel-device.iphone-x .overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: calc(66px / var(--size-divisor));
  overflow: hidden;
}
.marvel-device.iphone-x .shadow {
  border-radius: 100%;
  width: calc(90px / var(--size-divisor));
  height: calc(90px / var(--size-divisor));
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}
.marvel-device.iphone-x .shadow--tl {
  top: calc(-20px / var(--size-divisor));
  left: calc(-20px / var(--size-divisor));
}
.marvel-device.iphone-x .shadow--tr {
  top: calc(-20px / var(--size-divisor));
  right: calc(-20px / var(--size-divisor));
}
.marvel-device.iphone-x .shadow--bl {
  bottom: calc(-20px / var(--size-divisor));
  left: calc(-20px / var(--size-divisor));
}
.marvel-device.iphone-x .shadow--br {
  bottom: calc(-20px / var(--size-divisor));
  right: calc(-20px / var(--size-divisor));
}
.marvel-device.iphone-x:before {
  width: calc(100% - calc(10px) / var(--size-divisor));
  height: calc(100% - calc(10px) / var(--size-divisor));
  position: absolute;
  top: calc(5px / var(--size-divisor));
  content: "";
  left: calc(5px / var(--size-divisor));
  border-radius: calc(61px / var(--size-divisor));
  background: black;
  z-index: 1;
}
.marvel-device.iphone-x .inner-shadow {
  width: calc(100% - calc(20px) / var(--size-divisor));
  height: calc(100% - calc(20px) / var(--size-divisor));
  position: absolute;
  top: calc(10px / var(--size-divisor));
  overflow: hidden;
  left: calc(10px / var(--size-divisor));
  border-radius: calc(56px / var(--size-divisor));
  box-shadow: inset 0 0 calc(15px / var(--size-divisor)) 0
    rgba(255, 255, 255, 0.66);
  z-index: 1;
}
.marvel-device.iphone-x .inner-shadow:before {
  box-shadow: inset 0 0 calc(20px / var(--size-divisor)) 0 #ffffff;
  width: 100%;
  height: 116%;
  position: absolute;
  top: -8%;
  content: "";
  left: 0;
  border-radius: calc(200px / var(--size-divisor)) /
    calc(112px / var(--size-divisor));
  z-index: 2;
}
.marvel-device.iphone-x .screen {
  border-radius: calc(40px / var(--size-divisor));
  box-shadow: none;
}
.marvel-device.iphone-x .top-bar,
.marvel-device.iphone-x .bottom-bar {
  width: 100%;
  position: absolute;
  height: calc(8px / var(--size-divisor));
  background: rgba(0, 0, 0, 0.1);
  left: 0;
}
.marvel-device.iphone-x .top-bar {
  top: calc(80px / var(--size-divisor));
}
.marvel-device.iphone-x .bottom-bar {
  bottom: calc(80px / var(--size-divisor));
}
.marvel-device.iphone-x .volume,
.marvel-device.iphone-x .volume:before,
.marvel-device.iphone-x .volume:after,
.marvel-device.iphone-x .sleep {
  width: calc(3px / var(--size-divisor));
  background: #b5b5b5;
  position: absolute;
}
.marvel-device.iphone-x .volume {
  left: calc(-3px / var(--size-divisor));
  top: calc(116px / var(--size-divisor));
  height: calc(32px / var(--size-divisor));
}
.marvel-device.iphone-x .volume:before {
  height: calc(62px / var(--size-divisor));
  top: calc(62px / var(--size-divisor));
  content: "";
  left: 0;
}
.marvel-device.iphone-x .volume:after {
  height: calc(62px / var(--size-divisor));
  top: calc(140px / var(--size-divisor));
  content: "";
  left: 0;
}
.marvel-device.iphone-x .sleep {
  height: calc(96px / var(--size-divisor));
  top: calc(200px / var(--size-divisor));
  right: calc(-3px / var(--size-divisor));
}
.marvel-device.iphone-x .camera {
  width: calc(6px / var(--size-divisor));
  height: calc(6px / var(--size-divisor));
  top: calc(9px / var(--size-divisor));
  border-radius: 100%;
  position: absolute;
  left: calc(154px / var(--size-divisor));
  background: #0d4d71;
}
.marvel-device.iphone-x .speaker {
  height: calc(6px / var(--size-divisor));
  width: calc(60px / var(--size-divisor));
  left: 50%;
  position: absolute;
  top: calc(9px / var(--size-divisor));
  margin-left: calc(-30px / var(--size-divisor));
  background: #171818;
  border-radius: calc(6px / var(--size-divisor));
}
.marvel-device.iphone-x .notch {
  position: absolute;
  width: calc(210px / var(--size-divisor));
  height: calc(30px / var(--size-divisor));
  top: calc(26px / var(--size-divisor));
  left: calc(108px / var(--size-divisor));
  z-index: 4;
  background: black;
  border-bottom-left-radius: calc(24px / var(--size-divisor));
  border-bottom-right-radius: calc(24px / var(--size-divisor));
}
.marvel-device.iphone-x .notch:before,
.marvel-device.iphone-x .notch:after {
  content: "";
  height: calc(8px / var(--size-divisor));
  position: absolute;
  top: 0;
  width: calc(8px / var(--size-divisor));
}
.marvel-device.iphone-x .notch:after {
  background: radial-gradient(
    circle at bottom left,
    transparent 0,
    transparent 70%,
    black 70%,
    black 100%
  );
  left: calc(-8px / var(--size-divisor));
}
.marvel-device.iphone-x .notch:before {
  background: radial-gradient(
    circle at bottom right,
    transparent 0,
    transparent 70%,
    black 70%,
    black 100%
  );
  right: calc(-8px / var(--size-divisor));
}
.marvel-device.iphone-x.landscape {
  height: calc(375px / var(--size-divisor));
  width: calc(812px / var(--size-divisor));
}
.marvel-device.iphone-x.landscape .top-bar,
.marvel-device.iphone-x.landscape .bottom-bar {
  width: calc(8px / var(--size-divisor));
  height: 100%;
  top: 0;
}
.marvel-device.iphone-x.landscape .top-bar {
  left: calc(80px / var(--size-divisor));
}
.marvel-device.iphone-x.landscape .bottom-bar {
  right: calc(80px / var(--size-divisor));
  bottom: auto;
  left: auto;
}
.marvel-device.iphone-x.landscape .volume,
.marvel-device.iphone-x.landscape .volume:before,
.marvel-device.iphone-x.landscape .volume:after,
.marvel-device.iphone-x.landscape .sleep {
  height: calc(3px / var(--size-divisor));
}
.marvel-device.iphone-x.landscape .inner-shadow:before {
  height: 100%;
  width: 116%;
  left: -8%;
  top: 0;
  border-radius: calc(112px / var(--size-divisor)) /
    calc(200px / var(--size-divisor));
}
.marvel-device.iphone-x.landscape .volume {
  bottom: calc(-3px / var(--size-divisor));
  top: auto;
  left: calc(116px / var(--size-divisor));
  width: calc(32px / var(--size-divisor));
}
.marvel-device.iphone-x.landscape .volume:before {
  width: calc(62px / var(--size-divisor));
  left: calc(62px / var(--size-divisor));
  top: 0;
}
.marvel-device.iphone-x.landscape .volume:after {
  width: calc(62px / var(--size-divisor));
  left: calc(140px / var(--size-divisor));
  top: 0;
}
.marvel-device.iphone-x.landscape .sleep {
  width: calc(96px / var(--size-divisor));
  left: calc(200px / var(--size-divisor));
  top: calc(-3px / var(--size-divisor));
  right: auto;
}
.marvel-device.iphone-x.landscape .camera {
  left: calc(9px / var(--size-divisor));
  bottom: calc(154px / var(--size-divisor));
  top: auto;
}
.marvel-device.iphone-x.landscape .speaker {
  width: calc(6px / var(--size-divisor));
  height: calc(60px / var(--size-divisor));
  left: calc(9px / var(--size-divisor));
  top: 50%;
  margin-top: calc(-30px / var(--size-divisor));
  margin-left: 0;
}
.marvel-device.iphone-x.landscape .notch {
  height: calc(210px / var(--size-divisor));
  width: calc(30px / var(--size-divisor));
  left: calc(26px / var(--size-divisor));
  bottom: calc(108px / var(--size-divisor));
  top: auto;
  border-top-right-radius: calc(24px / var(--size-divisor));
  border-bottom-right-radius: calc(24px / var(--size-divisor));
  border-bottom-left-radius: 0;
}
.marvel-device.iphone-x.landscape .notch:before,
.marvel-device.iphone-x.landscape .notch:after {
  left: 0;
}
.marvel-device.iphone-x.landscape .notch:after {
  background: radial-gradient(
    circle at bottom right,
    transparent 0,
    transparent 70%,
    black 70%,
    black 100%
  );
  bottom: calc(-8px / var(--size-divisor));
  top: auto;
}
.marvel-device.iphone-x.landscape .notch:before {
  background: radial-gradient(
    circle at top right,
    transparent 0,
    transparent 70%,
    black 70%,
    black 100%
  );
  top: calc(-8px / var(--size-divisor));
}
