.flex-row {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  @mixin atMedium {
  }

  &--center {
    justify-content: center;
  }

  &--space-between {
    justify-content: space-between;
  }

  &--align-center {
    align-items: center;
  }

  &--wrap-until-small {
    flex-flow: row wrap;
    justify-content: center;
    @mixin atSmall {
      flex-flow: row nowrap;
    }
  }

  &--gutters {
    margin-right: -45px;
  }

  &--gutters > div {
    flex: 1 1 33.3%;
    padding-right: 45px;
  }

  &__item-half {
  }

  &__item-half--flex-until-small {
    @mixin atSmall {
      flex: none;
    }
  }

  &__item-half--extra-small {
    max-width: 408px;
  }

  &__item-half--small {
    @mixin atSmall {
      max-width: 396px;
    }
    @mixin atMedium {
      max-width: 478px;
    }
  }

  &__item-half--large {
    margin-top: 1rem;
    max-width: 538px;
    @mixin atSmall {
      margin-top: 0rem;
    }
  }

  &__item-half--extra-large {
    @mixin atMedium {
      max-width: 538px;
    }
    @mixin atLarge {
      max-width: 608px;
    }
  }

  &__item-half img {
    width: 100%;
    height: auto;
  }

  &__item-half--right-margin-until-small {
    @mixin atSmall {
      margin-right: 64px;
    }
  }

  &__item-half--right-margin-until-medium {
    @mixin atMedium {
      margin-right: 64px;
    }
  }

  &__item--4 {
    flex: 0 0 100%;
    @mixin atSmall {
      flex: 0 0 33.3%;
    }
    /* margin-top: 2rem; */
  }

  &__item--third {
    flex: 0 0 380px;
    /* margin-top: 2rem; */
  }

  &__item--full {
    flex: 1 1 100%;
  }
}
