.flex-row {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  @mixin atMedium {
    &--gutters {
      margin-left: -80px;
    }

    &--gutters > &__item {
      padding-left: 80px;
    }

    &--gutters-small {
      margin-left: -50px;
    }
    
    &--gutters-small > &__item {
      padding-left: 50px;
    }

    &--narrow {
      padding-left: 40px;
      padding-right: 40px;
    }

    &__img {
      width: 100%;
      height: auto;
    }

    &__item {
      
    }

    &__item--half {
      flex: 0 0 50%;
    }

    &__item--third {
      flex: 0 0 33%;
    }
  }

  &--centered {
    justify-content: center;
  }
}
