.generic-content-container {
  @mixin atSmall {
    font-size: 1.125rem;
    line-height: 1.625;
  }

  &--medium {
    @mixin atSmall {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }

  &--center {
    text-align: center;
  }

  p {
    margin: 0.75rem 0;
    font-weight: 400;
  }

  p a {
    font-weight: 700;
  }
}
