.l-flex-row {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: center;

  &--align-center {
    align-items: center;
  }

  &--type-margin-left-small > * + * {
    margin-left: 1rem;
  }

  &--type-margin-sides-large {
    justify-content: center;
    & > * {
      margin-left: 1rem;
      margin-right: 1rem;
      @mixin atSmall {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }

  &--type-margin-sides-small {
    justify-content: center;
    & > * {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  &--type-margin-top-small > * {
    margin-top: 1.5rem;
  }

  &--nowrap-after-medium {
    @mixin atMedium {
      flex-flow: row nowrap;
    }
  }

  &--gutters-after-medium > * + * {
    @mixin atMedium {
      margin-left: 45px;
    }
  }

  &__item {
    margin-top: 2rem;
    flex: 1 1 100%;
    @mixin atSmall {
      margin-top: 1.75rem;
    }
  }

  &__item--margin-top-none {
    margin-top: 0;
  }

  &__item--margin-top-none-after-small {
    @mixin atSmall {
      margin-top: 0;
    }
  }

  &__item--size-6-after-small {
    @mixin atSmall {
      flex-basis: 50%;
    }
  }

  &__item--size-4-after-medium {
    @mixin atLarge {
      flex-basis: 33.3%;
    }
  }

  &__item--size-4-after-large {
    @mixin atLarge {
      flex-basis: 33.3%;
    }
  }
}
