.link {
  margin-right: 1rem;
  line-height: 1.65;
  font-weight: 500;
  color: $mainOrange;
  text-decoration: none;
  @mixin atSmall {
  }

  &:hover {
  }

  &--large {
    font-size: 1.25rem;
  }

  &__icon {
    margin-top: 1px;
    margin-right: 3px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}
