.page-section {
  position: relative;
  padding: 5rem 0;
  @mixin atSmall {
    padding: 6rem 0;
  }

  &--about {
    padding-bottom: 0;
    background-color: $mainBlue;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @mixin atSmall {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.7)
        ),
        url('/assets/images/high-contrast-mountain-tablet-portrait.jpg');
      background-attachment: fixed;
    }
    @mixin atMedium {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.7)
        ),
        url('/assets/images/high-contrast-mountain-tablet-landscape.jpg');
    }
    @mixin atLarge {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.7)
        ),
        url('/assets/images/high-contrast-mountain-desktop.jpg');
    }
  }

  &--about .page-section__header {
    @mixin atSmall {
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &--about .page-section__title {
    color: $mainGrey;
    @mixin atSmall {
      color: rgb(255, 255, 255);
    }
  }

  &--projects::after {
    @mixin atSmall {
      content: '';
      display: block;
      position: absolute;
      top: calc(100% - 20px);
      left: 0;
      width: 100%;
      height: 380px;
      overflow: hidden;
      line-height: 0;
      background-image: url('/assets/shapes/section-divider.svg');
      background-size: 100% 380px;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      z-index: 1;
    }
    @mixin atLarge {
      height: 500px;
      background-size: 100% 500px;
    }
  }

  &__header {
    text-align: center;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    @mixin atSmall {
      font-size: 2.375rem;
      line-height: 1.3125;
    }
  }

  &__title--grey {
    color: $mainGrey;
  }
}
