.site-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 10px 0;
  opacity: 1;
  transition: opacity 300ms;
  @mixin atLarge {
    padding: 15px 0;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms, visibility 300ms;
  }

  &.is-translucent {
    opacity: 1;
    background-color: rgba($mainGrey, 0.9);
    transition: none;
  }

  &__logo {
    position: absolute;
    visibility: hidden;
  }
}
