.subsection-title {
  font-size: 1.875rem;
  font-weight: 300;
  text-align: left;
  @mixin atSmall {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    line-height: 1.3125;
    font-weight: 700;
  }

  &--grey {
    color: $mainGrey;
  }

  &--purple {
    color: $mainPurple;
  }

  &--turqoise {
    color: $mainTurqoise;
  }
}
