.subsection-title {
  font-size: 1.875rem;
  font-weight: 300;
  text-align: left;
  @mixin atSmall {
    font-size: 2rem;
    margin: 0 0 .5rem 0;
  }

  &--purple {
    color: $mainPurple;
  }

  &--turqoise {
    color: $mainTurqoise;
  }
}
