.tech-icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  stroke-width: 0;
  stroke: $mainGrey;
  fill: $mainGrey;
  @mixin atSmall {
    width: 5rem;
    height: 5rem;
  }
  @mixin atMedium {
    filter: saturate(0);
    transition: filter 150ms;
  }

  &:hover {
    filter: saturate(1);
  }

  &--small {
    width: 3.5rem;
    height: 3.5rem;
  }

  & use {
    pointer-events: none;
  }
}
