.token-list {
  padding: 0;
  line-height: 1.65;
  list-style: none;
  color: $mainOrange;
  text-decoration: none;
  @mixin atSmall {
    font-size: 1.125rem;
    margin: 3rem 0 0 0;
  }

  li {
    margin: 0 50px;
  }
}
