.l-flex-column {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: center;

  &--narrow-after-medium {
    max-width: $textWidth;
    @mixin atMedium {
      max-width: 1304px;
    }
  }

  &--wide-after-medium {
    max-width: $textWidth;
    @mixin atMedium {
      max-width: 1244px;
    }
  }

  &--gutters > * + * {
    margin-top: 4rem;
  }

  &--gutters-small > * + * {
    margin-top: 1.75rem;
    @mixin atSmall {
      margin-top: 2rem;
    }
  }

  &--gutters-extra-small > * + * {
    margin-top: 1rem;
  }

  &__item--margin-top-none {
    margin-top: 0;
  }

  &__item--margin-top-after-small {
    margin-top: 0;
    @mixin atSmall {
      margin-top: 4rem;
    }
  }

  &__item--divider {
    position: relative;
    padding-top: 4rem;
    @mixin atSmall {
      padding-top: 4rem;
    }
  }

  &__item--divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #e2e2e9;
  }

  &__item--margin-top-extra-large {
    margin-top: calc(4rem + 80px);
  }
}
