.background-image {
  position: relative;
  padding: 2em;
  text-align: center;
  color: white;
  @mixin atMedium {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("/assets/images/first-trip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}
