.button {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  padding: 0.75em 2em;
  line-height: 1.5rem;
  letter-spacing: 0.2em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px #ffffff;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.125);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.25);
  }

  &--large {
    padding: 0.75rem 3rem;
  }

  &--round {
    padding: 2rem;
    border-radius: 50%;
  }

  &__icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
}
