.flex-row {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  @mixin atMedium {
    &--align-center {
      align-items: center;
    }

    &--gutters {
      margin-left: -35px;
    }

    &--gutters > &__item {
      padding-left: 35px;
    }

    &__item-half {
      flex: none;
    }

    &__item-half--small {
      width: 488px;
    }

    &__item-half--large {
      width: 528px;
    }

    &__item-half img {
      width: 100%;
      height: auto;
    }

    &__item-half:first-child {
      margin-right: 64px;
    }

    &__item-4 {
      flex: 0 0 33%;
    }
  }

  &--centered {
    justify-content: center;
  }
}
