.flex-row {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  @mixin atMedium {
  }
  
  &--align-center {
    align-items: center;
  }

  &__item-half {
    position: relative;
    flex: none;
  }

  &__item-half--extra-small {
    width: 408px;
  }

  &__item-half--small {
    width: 478px;
  }

  &__item-half--large {
    width: 538px;
  }

  &__item-half--extra-large {
    width: 608px;
  }

  &__item-half img {
    width: 100%;
    height: auto;
  }

  &__item-half:first-child {
    @mixin atMedium {
      margin-right: 64px;
    }
  }

  &__item--4 {
    flex: 0 0 33.3%;
    margin-top: 2rem;
  }

  &__item--full {
    flex: 1 1 100%;
  }
}
