.generic-content-container {
  p {
    font-size: 1.125rem;
    line-height: 1.625;
    margin: 0.2em 0;
    font-weight: 400;
  }

  p a {
    font-weight: 700;
  }

  &--medium {
    p {
      @mixin atSmall {
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }

  &--center {
    text-align: center;
  }

  &--overlay {
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
