.icon-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  @mixin atSmall {
  }

  &__icon {
    display: inline-block;
    margin: 0 50px;
    width: 5rem;
    height: 5rem;
    stroke-width: 0;
    stroke: $mainGrey;
    fill: $mainGrey;
    filter: saturate(0);
    transition: filter 150ms;
    @mixin atSmall {

    }
  }

  &__icon use {
    pointer-events: none;
  }

  &__icon:hover {
    filter: saturate(1);
  }

  &__icon--small {
    margin: 0 15px;
    width: 3.5rem;
    height: 3.5rem;
  }
}
