.l-flex-row {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: center;

  &--center {
    justify-content: center;
  }

  &--align-center {
    align-items: center;
  }

  &--wrap-until-small {
    justify-content: center;
    @mixin atSmall {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }

  &--gutters {
    @mixin atMedium {
      margin-right: -45px;
    }
  }

  &--gutters > * {
    flex: 1 1 100%;
    @mixin atMedium {
      flex: 1 1 33.3%;
      padding-right: 45px;
    }
  }

  &__item--4 {
    margin-top: 1.75rem;
    flex: 0 0 100%;
    @mixin atSmall {
      flex: 0 0 50%;
    }
    @mixin atLarge {
      flex: 0 0 33.3%;
    }
  }

  &__item--full {
    margin-top: 2rem;
    flex: 1 1 100%;
    @mixin atSmall {
      margin-top: 0;
    }
  }
}
