.primary-nav {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  @mixin atMedium {
    margin-right: 1.5rem;
    padding: 0;
  }

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  li {
    list-style-type: none;
    margin: 0 0.5rem;
    @mixin atMedium {
      margin: 0 1rem;
    }
  }

  a {
    position: relative;
    font-size: 0.9rem;
    letter-spacing: 0.2em;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0px;
    @mixin atMedium {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 300ms;
  }

  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}
