.section-title {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  @mixin atSmall {
    font-size: 2.375rem;
    line-height: 1.3125;
  }

  &--grey {
    color: $mainGrey;
  }

  &--white {
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.8);
  }

  strong {
    font-weight: 500;
  }

  &__icon {
    display: block;
    margin: 0 auto 0.6rem auto;

    @mixin atSmall {
      display: inline-block;
      margin: 0 1.5rem 0 0;
      vertical-align: top;
    }
  }
}
