.section-title {
  margin: 0 0 3.5rem 0;
  text-align: center;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  @mixin atSmall {
    font-size: 2.5rem;
  }

  &--grey {
    color: $mainGrey;
  }

  &--turqoise {
    color: $mainTurqoise;
  }

  strong {
    font-weight: 500;
  }

  &__icon {
    display: block;
    margin: 0 auto 0.6rem auto;

    @mixin atSmall {
      display: inline-block;
      margin: 0 1.5rem 0 0;
      vertical-align: top;
    }
  }
}
