.tech-icon {
  display: flex;
  width: 4rem;
  flex-flow: column nowrap;
  align-items: center;
  color: $mainGrey;
  @mixin atMedium {
    color: $secondaryGrey;
    filter: saturate(0);
    transition: filter 150ms;

    &:hover {
      color: $mainGrey;
      filter: saturate(1);
    }
  }

  & * {
    pointer-events: none;
  }

  &--large-after-small {
    @mixin atSmall {
      width: 5rem;
      font-size: 1.125rem;
    }
  }

  &--large-after-small .tech-icon__icon {
    @mixin atSmall {
      width: 5rem;
      height: 5rem;
    }
  }

  &__icon {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    stroke-width: 0;
    stroke: $mainGrey;
    fill: $mainGrey;
  }

  &__label {
    margin-top: 0.2em;
    text-align: center;
    font-weight: 500;
  }
}
