.tech-icon {
  display: inline-block;
  /* margin: 0 1rem; */
  width: 4rem;
  height: 4rem;
  stroke-width: 0;
  stroke: $mainGrey;
  fill: $mainGrey;
  @mixin atSmall {
    /* margin: 0 50px; */
    width: 5rem;
    height: 5rem;
    filter: saturate(0);
    transition: filter 150ms;
  }

  &:hover {
    filter: saturate(1);
  }

  &--small {
    /* margin: 0.5rem 1rem 0 1rem; */
    width: 3.5rem;
    height: 3.5rem;
  }

  & use {
    pointer-events: none;
  }
}