.wrapper {
  /* margin: auto;
  max-width: 1304px; */
  padding-left: 18px;
  padding-right: 18px;
  overflow: hidden;
  @mixin atExtraSmall {
    padding-left: 36px;
    padding-right: 36px;
  }

  &--about {
    /* max-width: 1334px; */
    @mixin atSmall {
      padding-left: 45px;
      padding-right: 45px;
    }
  }

  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}
